@import url("https://fonts.googleapis.com/css?family=Raleway:regular,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2f2f4d;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 120%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.sky-button {
  padding: 13px 24px;
  border-radius: 100px;
  border: 1px solid #2ed1df;
  background: #2ed1df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 187%;
  letter-spacing: -0.25px;
  color: #fff;
}
@media (any-hover: hover) {
  .sky-button:hover {
    background: #2ed1df;
  }
}

.white-button {
  padding: 13px 24px;
  border-radius: 100px;
  border: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 187%;
  letter-spacing: -0.25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 47, 77, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.exam__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.exam__header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .exam__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}
.exam__header-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.88px;
}
.exam__header-title span {
  color: #2ed1df;
}
@media (max-width: 767.98px) {
  .exam__header-title {
    font-size: 22px;
    letter-spacing: -0.4px;
  }
}
.exam__header-time {
  border-radius: 100px;
  border: 1px solid #e0e0e0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 406px;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .exam__header-time {
    width: 100%;
  }
}
@media (max-width: 479.98px) {
  .exam__header-time {
    padding: 16px 24px;
  }
}
.exam__header-time img {
  width: 24px;
  height: 24px;
}
.exam__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.exam__header-text {
  letter-spacing: -0.25px;
  line-height: 180%;
}
.exam__header-mins {
  font-size: 18px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: -0.25px;
}
.exam__header-mins.warning {
  color: #e84c94;
}
.exam__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .exam__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .exam__content {
    gap: 20px;
  }
}
.exam__popup {
  position: fixed;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 624px;
  display: none;
  z-index: 1000;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .exam__popup {
    width: 90%;
  }
}
.exam__popup-header {
  padding: 30px;
  border-bottom: 1px solid rgba(47, 47, 77, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 479.98px) {
  .exam__popup-header {
    padding: 20px;
  }
}
.exam__popup-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 136%;
  letter-spacing: -0.4px;
}
.exam__popup-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  position: relative;
}
.exam__popup-close::after {
  content: "";
  width: 10px;
  height: 2px;
  background: #2f2f4d;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.exam__popup-close::before {
  content: "";
  width: 10px;
  height: 2px;
  background: #2f2f4d;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.exam__popup-body {
  padding: 30px;
}
@media (max-width: 479.98px) {
  .exam__popup-body {
    padding: 20px;
  }
}
.exam__popup-text {
  letter-spacing: -0.25px;
  line-height: 187%;
  margin-bottom: 30px;
}
.exam__popup-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.question__block {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 30px;
  width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.question__box {
  display: none;
}
@media (max-width: 767.98px) {
  .question__box {
    margin-bottom: 30px;
  }
}
.question__box.active {
  display: block;
}
.question__progress {
  padding: 12px 17px;
  border-radius: 100px;
  background: rgba(46, 209, 223, 0.05);
  color: #2ed1df;
  font-size: 15px;
  font-weight: 700;
  line-height: 146%;
  letter-spacing: -0.12px;
  display: inline-block;
  margin-bottom: 20px;
}
.question__title {
  letter-spacing: -0.25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 133%;
  margin-bottom: 30px;
}
.question__questions {
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  .question__questions {
    margin-bottom: 30px;
  }
}
.question__questions label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  line-height: 187%;
  letter-spacing: -0.25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}
.question__questions label .question__radio {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 3px;
  background-clip: content-box;
  border: 2px solid #e0e0e0;
  background-color: transparent;
  border-radius: 50%;
  margin-top: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}
.question__questions label .question__radio:checked {
  background-color: #2ed1df;
  border: 2px solid #2ed1df;
}
.question__questions label .question__checkbox {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 3px;
  background-clip: content-box;
  border: 2px solid #e0e0e0;
  background-color: transparent;
  margin-top: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}
.question__questions label .question__checkbox:checked {
  background-color: #2ed1df;
  border: 2px solid #2ed1df;
}
.question__questions label:not(:last-child) {
  margin-bottom: 20px;
}
.question__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.question__text:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .question__text {
    gap: 10px;
  }
}
.question__select {
  padding: 13px 20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(223, 223, 223, 0.6);
  line-height: 187%;
  letter-spacing: -0.25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 180px;
  color: #2f2f4d;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 140px center;
  cursor: pointer;
}
.question__select-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 700;
}
.question__select-list li:not(:last-child) {
  margin-bottom: 16px;
}
.question__textbox {
  border-bottom: 1px solid rgba(223, 223, 223, 0.6);
  padding: 0px 8px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 70px;
  max-width: 150px;
  width: 100%;
}
.question__image {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .question__image {
    width: 100%;
  }
}
.question__image.enlarged {
  position: fixed;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 624px;
  z-index: 1000;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .question__image.enlarged {
    width: 90%;
  }
}
.question__buttons {
  border-top: 1px solid rgba(47, 47, 77, 0.15);
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stats__block {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #fff;
  min-width: 406px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .stats__block {
    min-width: unset;
    width: 100%;
  }
}
.stats__title {
  font-weight: 700;
  line-height: 133%;
  letter-spacing: -0.25px;
  margin-bottom: 20px;
}
.stats__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.stats__slider-finished {
  border: 1px solid #3aae81 !important;
  background: #3aae81;
  color: #fff;
}
.stats__slider-skipped {
  border: 1px solid #e84c94 !important;
  background: #e84c94;
  color: #fff;
}
.stats__slider-current {
  border: 1px solid #2ed1df !important;
  background: #2ed1df;
  color: #fff;
}
.stats__slider-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stats__slider-number, .stats__slider-nav {
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 146%;
  cursor: pointer;
}
.stats__text {
  line-height: 187%;
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}
.stats__keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(47, 47, 77, 0.15);
}
.stats__key-current {
  border: 1px solid #2ed1df;
  background: #2ed1df;
  color: #fff;
  letter-spacing: -0.03px;
  line-height: 138%;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  padding: 7px 16px;
  border-radius: 100px;
}
.stats__key-finished {
  border: 1px solid #3aae81;
  background: #3aae81;
  color: #fff;
  letter-spacing: -0.03px;
  line-height: 138%;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  padding: 7px 16px;
  border-radius: 100px;
}
.stats__key-skipped {
  border: 1px solid #e84c94;
  background: #e84c94;
  color: #fff;
  letter-spacing: -0.03px;
  line-height: 138%;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  padding: 7px 16px;
  border-radius: 100px;
}
.stats__finish-button {
  width: 100%;
}

.result__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.result__info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .result__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .result__info {
    gap: 10px;
    margin-bottom: 30px;
  }
}
.result__left {
  width: calc(50% - 15px);
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 30px;
}
@media (max-width: 991.98px) {
  .result__left {
    width: 100%;
  }
}
@media (max-width: 479.98px) {
  .result__left {
    padding: 20px;
  }
}
.result__left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.result__left-item:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(47, 47, 77, 0.15);
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .result__left-item:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .result__left-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
.result__left-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: -0.25px;
  width: 125px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 125px;
          flex: 0 0 125px;
}
@media (max-width: 767.98px) {
  .result__left-title {
    width: unset;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
.result__left-text {
  letter-spacing: -0.25px;
  line-height: 187%;
}
.result__left-text .passed {
  color: #3aae81;
}
.result__left-text .not-passed {
  color: #e84c94;
}
.result__right {
  width: calc(50% - 15px);
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 30px;
}
@media (max-width: 991.98px) {
  .result__right {
    width: 100%;
  }
}
.result__right-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 136%;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .result__right-title {
    font-size: 18px;
  }
}
.result__right-text {
  line-height: 187%;
  letter-spacing: -0.25px;
  margin-bottom: 30px;
}
.result__right-list li:not(:last-child) {
  margin-bottom: 20px;
}
.result__right-list li a {
  line-height: 187%;
  letter-spacing: -0.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.result__right-list li a img {
  width: 24px;
  height: 24px;
}
.result__progress {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: rgba(47, 47, 77, 0.05);
  overflow: hidden;
  position: relative;
}
.result__progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.result__progress-bar {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2f2f4d;
  letter-spacing: -0.25px;
  line-height: 187%;
  gap: 4px;
}
.result__progress-bar-empty {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -0.25px;
  line-height: 187%;
  gap: 4px;
  width: 100% !important;
  background: transparent !important;
}
.result__progress-number span {
  font-weight: 700;
}
.result__stats {
  margin-top: 30px;
  padding-bottom: 30px;
}
.result__stats-item {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 30px;
}
.result__stats-item:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .result__stats-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.result__stats-question {
  font-size: 18px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: -0.25px;
  margin-bottom: 20px;
}
.result__stats-tag {
  border-radius: 100px;
  background: rgba(232, 76, 148, 0.05);
  padding: 7px 16px;
  font-size: 13px;
  font-weight: 700;
  line-height: 138%;
  letter-spacing: -0.03px;
  color: #e84c94;
  display: inline-block;
  margin-bottom: 20px;
}
.result__stats-answer {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.result__stats-answer-title {
  line-height: 187%;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.result__stats-you-js {
  font-weight: 400;
}
.result__stats-correct-js {
  font-weight: 400;
}